<footer class="footer-section">
  <div class="container">
    <div class="footer-cta pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-map-marker-alt" style="color: #faf8f7;"></i>
            <div class="cta-text">
              <h4>Dirección</h4>
              <a href="https://www.google.com/maps/place/Calle+19+x+20+y+22,+Halachó,+Yucatán,+México" 
                 target="_blank" 
                 rel="noopener noreferrer"
                 style="color: #faf8f7; text-decoration: none;">
                Calle 19 x 20 y 22 Halachó, Yucatán, México
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-phone" style="color: #e4e5ee;"></i>
            <div class="cta-text">
              <h4>Contáctanos</h4>
              <span>9997494438 </span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="far fa-envelope-open" style="color: #f7f5f5;"></i>
            <div class="cta-text">
              <h4>Email</h4>
              <span>DecoracionesCastillo&#64;hotmail.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Clase text-center para centrar el texto -->
          <div class="copyright-text text-center">
            <p>Copyright &copy; 2024, Todos Los Derechos reservados.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
