<!-- Otras secciones de tu página, incluyendo la sección de servicios -->
<div class="services-section">
  <h2>MANEJAMOS LOS SIGUIENTES PAQUETES</h2>
  <div class="service-container">
    <div class="service-card">
      <h3>Paquete Cumpleaños</h3>
      <img src="/assets/imagen2.jpg" alt="Paquete Cumpleaños" class="service-image">
      <p>ESTE PAQUETE INCLUYE:</p>
      <ul>
        <li>Tira de Globos</li>
        <li>Muebles (Cajoneras en forma de mesas 3 piezas)</li>
        <li>Precio: $1600</li>
        <li>Opción de agregar personaje por un total de $2000</li>
      </ul>
      <button class="register-btn">Registrar evento</button>
    </div>

    <div class="service-card">
      <h3>Paquete Boda o XV Años</h3>
      <img src="/assets/imagen1.jpg" alt="Paquete Boda o XV Años" class="service-image">
      <p>ESTE PAQUETE INCLUYE:</p>
      <ul>
        <li>Túnel de Luces ($1800)</li>
        <li>Recepción básica ($800)</li>
        <li>Techo con telas y luces LED ($1800)</li>
        <li>Mesa Principal ($1800)</li>
      </ul>
      <button class="register-btn">Registrar evento</button>
    </div>
    
    <div class="service-card">
      <h3>Paquetes Individuales</h3>
      <img src="/assets/imagen3.jpg" alt="Paquetes Individuales" class="service-image">
      <p>ESTE PAQUETE INCLUYE:</p>
      <ul>
        <li>Decorado para la mesa de dulces (sin dulces): $800</li>
        <li>Decoración para la mesa de dulces (incluyendo dulces): $3000</li>
        <li>Set para tomarse fotos: $700</li>
      </ul>
      <button class="register-btn">Registrar evento</button>
    </div>
  </div>
</div>