<div class="admin-dashboard">
    <aside class="sidebar">
        <div class="profile">
            <img src="https://via.placeholder.com/80" alt="Profile">
            <span>Decoraciones Castillo</span>
        </div>
        <ul class="menu">
            <li><a routerLink="/admin">Panel principal</a></li>
            <li><a routerLink="/admin">Eventos Registrados</a></li>
            <li><a href="#">Calendario de Eventos</a></li>
            <li><a href="#">Opción 3</a></li>
            <li><a href="#">Opción 4</a></li>
            <li><a href="#">Opción 5</a></li>
            <li><a href="#">Opción 6</a></li>
        </ul>
    </aside>
  
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Teléfono de Contacto</th>
                    <th>Correo Electrónico</th>
                    <th>Fecha de Evento</th>
                    <th>Hora de Inicio</th>
                    <th>Dirección del Lugar</th>
                    <th>Tipo de Evento</th>
                    <th>Numero en Horas</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events">
                    <td>{{ event.id }}</td>
                    <td>{{ event.nombre }}</td>
                    <td>{{ event.telefono }}</td>
                    <td>{{ event.correo }}</td>
                    <td>{{ event.fecha_evento }}</td>
                    <td>{{ event.hora_inicio }}</td>
                    <td>{{ event.direccion_evento }}</td>
                    <td>{{ event.tipo_evento }}</td>
                    <td>{{ event.numero_hora }}</td>
                    <td>
  <!--                       <button (click)="viewEvent(event)">Ver</button>
                        <button (click)="editEvent(event)">Editar</button> -->
                        <button (click)="onDeleteEvent(event.id)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>