.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #f800d7;
    border-radius: 8px;
    background-color: #00f8a5;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  