<header class="header">
  <div class="navigation">
    <div class="logo-container">
      <div class="logo-icon"></div> <!-- Aquí se mostrará el logo -->
      <span class="logo-text">DECORACIONES CASTILLO</span> <!-- Nombre de la empresa -->
    </div>
    <ul>
      <li><a routerLink="/inicio">INICIO</a></li>
      <li><a routerLink="/historia">¿QUE HACEMOS?</a></li>
      <li><a routerLink="/paquetes">PAQUETES</a></li>
      <li><a routerLink="/contacto"></a></li>
    </ul>
  </div>
</header>
<br> 
<div class="form-container">
  <h1>Diseña tu Paquete de Decoración</h1>
  <form (ngSubmit)="onSubmit()">
    <div *ngIf="mensajeExito" class="alert alert-success">{{ mensajeExito }}</div>
    <div *ngIf="mensajeError" class="alert alert-danger">{{ mensajeError }}</div>

    <h2>Datos del Cliente</h2>
    <label for="phone">Número de Teléfono:</label>
    <input type="tel" id="phone" name="phone" [(ngModel)]="formData.phone" required />

    <label for="date">Fecha del Evento:</label>
    <input type="date" id="date" name="date" [(ngModel)]="formData.date" required />

    <label for="time">Hora del Evento:</label>
    <input type="time" id="time" name="time" [(ngModel)]="formData.time" required />

    <label for="duration">Duración evento (horas):</label>
    <input type="number" id="duration" name="duration" [(ngModel)]="formData.duration" required min="1" max="24" />

    <label for="location">Ubicación del Evento:</label>
    <textarea
      id="location"
      name="location"
      [(ngModel)]="formData.location"
      placeholder="Escribe aquí la dirección o detalles de la ubicación del evento"
      rows="3"
      required
    ></textarea>

    <h2>Opciones de Decoración</h2>
    <h3>Decoracion Principal</h3>
    <div *ngFor="let option of decorOptions1">
      <input
      type="radio"
      name="decoracionPrincipal"
      [(ngModel)]="selectedDecoracionPrincipal"
      [value]="option"
      />
      {{ option.name }} ({{ option.price | currency }})
    </div>

    <h3>Paquete mampara cuadrada (Incluye 3)</h3>
    <div *ngFor="let option of decorOptions2">
      <input
        type="radio"
        name="mamparaCuadrada"
        [(ngModel)]="selectedMamparaCuadrada"
        [value]="option"
      />
      {{ option.name }} ({{ option.price | currency }})
    </div>

    <h3>Paquete mampara circular (Incluye 3)</h3>
    <div *ngFor="let option of decorOptions3">
      <input
        type="radio"
        name="mamparaCircular"
        [(ngModel)]="selectedMamparaCircular"
        [value]="option"
      />
      {{ option.name }} ({{ option.price | currency }})
    </div>

    <h3>Túnel de luces LED</h3>
    <div>
      <input type="radio" name="tunnel" [(ngModel)]="formData.tunnel" [value]="true" /> Sí ($1800)
      <input type="radio" name="tunnel" [(ngModel)]="formData.tunnel" [value]="false" /> No
    </div>
    <div *ngIf="formData.tunnel">
      <h4>Selecciona los colores (Amarillo y/o Blanco):</h4>
      <div>
        <input
          type="checkbox"
          id="colorAmarillo"
          [(ngModel)]="tunnelColors.amber"
        />
        <label for="colorAmarillo">Amarillo</label>
      </div>
      <div>
        <input
          type="checkbox"
          id="colorBlanco"
          [(ngModel)]="tunnelColors.white"
        />
        <label for="colorBlanco">Blanco</label>
      </div>
    </div>

    <h3>Telas de decoracion</h3>
    <div>
      <input type="radio" name="tela" [(ngModel)]="formData.tela" [value]="'luces'" /> Con luces ($1800)
      <input type="radio" name="tela" [(ngModel)]="formData.tela" [value]="'sinLuces'" /> Sin luces ($1300)
    </div>
    <label for="numColors">Número de colores de las telas (máximo 3):</label>
    <input type="number" id="numColors" name="numColors" [(ngModel)]="formData.numColors" min="1" max="3" />
    <label for="colorDetails">Especifica los colores de las telas:</label>
    <input type="text" id="colorDetails" name="colorDetails" [(ngModel)]="formData.colorDetails" />

    <h3>Paquete de sillones principal para todo evento</h3>
    <div>
      <input type="radio" name="sofa" [(ngModel)]="formData.sofa" [value]="true" /> Sí ($1500)
      <input type="radio" name="sofa" [(ngModel)]="formData.sofa" [value]="false" /> No
    </div>

    <h2>Total: {{ calculateTotal() | currency }}</h2>
    <button type="submit">Enviar</button>
  </form>
</div>
<br> 
<br> 
