* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #ad0cad;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: #ffffff;
  padding: 30px; /* Ajusta el espacio interior de la ficha */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%; /* Aumenta el ancho al 80% del espacio disponible */
  max-width: 1000px; /* Establece un ancho máximo de 900px */
}


h1 {
  text-align: center;
  color: #001F54;
  margin-bottom: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="time"],
select {
  padding: 8px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #007bff; /* Color de fondo del botón */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Tamaño del botón */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  margin-top: 20px; /* Espacio superior para separar el botón del resto del formulario */
  display: block; /* Asegura que el botón ocupe toda la línea */
  width: 100%; /* Botón a lo ancho del contenedor */
  font-size: 16px; /* Tamaño del texto */
}

button[type="submit"]:hover {
  background-color: #dd5830; /* Color de fondo al pasar el mouse */
}
