<nav class="navigation">
  <div class="logo">
    <span>DECORACIONES CASTILLO</span>
  </div>  
  <ul>
    <li><a routerLink="/historia">¿Qué hacemos?</a></li>
    <li><a routerLink="/paquetes">Paquetes</a></li>
    <li><a routerLink="/login">Iniciar sesion</a></li>
    <li><a routerLink="/contacto"></a></li>
  </ul>
</nav>
<header class="header">
  <div class="overlay">
    <h1 class="company-name">DECORACIONES CASTILLO</h1>
    <h2 class="owner-name">WILLIAM JESÚS TRACONIS CASTILLO</h2>
    <ul>
      <li><a href="mailto:decoraciones.castillo@gmail.com" target="_blank">📧 Gmail</a></li>
      <li><a href="https://wa.me/9997494438" target="_blank">📱 WhatsApp</a></li>
      <li><a href="https://www.facebook.com/profile.php?id=100063458621291&mibextid=ZbWKwL" target="_blank">🌐 Facebook</a></li>
    </ul>
  </div>
</header>

<!-- Contenido principal de la página aquí -->
<div class="content">
  <!-- Aquí va el contenido de la página -->
</div>
