<nav class="navigation">
  <div class="logo">
    <span>DECORACIONES CASTILLO</span>
  </div>  
    <ul>
      <li><a routerLink="/historia">Historia de la Empresa</a></li>
      <li><a routerLink="/paquetes">Paquetes</a></li>
      <li><a routerLink="/contacto">Contacto</a></li>
    </ul>
  </nav>
  
  <header class="header">
    <div class="overlay">
      <h1 class="company-name">DECORACIONES CASTILLO</h1>
      <h2 class="owner-name">WILLIAM JESÚS TRACONIS CASTILLO</h2>
    </div>
  </header>
  